/* @import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,500&family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,400;0,500;0,700;1,200;1,400&family=Press+Start+2P&family=Roboto:wght@400;500;700;900&display=swap"); */

:root {
  /* Colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyblu-emodal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
  --accent-color: #2196f3;

  /* Fonts */
  --header-1: 700 56px/60px "Roboto", sans-serif;
  --header-2: 700 36px/40px "Roboto", sans-serif;
  --header-3: 500 20px/24px "Roboto", sans-serif;
  --body: 400 16px/24px "Roboto", sans-serif;
  --body-medium: 500 16px/24px "Roboto", sans-serif;
  --button-text: 500 16px/24px "Roboto", sans-serif;
  --small-text: 400 12px/14px "Roboto", sans-serif;
  --link-text: 400 12px/16px "Roboto", sans-serif;

  /* Effects */
}
body {
  background: #ffffff;
  font-family: "roboto", sans-serif;
  color: var(--navyblue);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.logo-link {
  text-decoration: none;
  display: flex;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
}

.logo {
  color: var(--iris, #4d5ae5);
}
.studio {
  color: var(--navyblue, #2e2f42);
}
.page {
  text-decoration: none;
  color: var(--navyblue);
}
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
.item {
  text-decoration: none;
  color: var(--navyblue);
}
.item:hover {
  color: var(--accent-color);
}
.hero {
  background-color: var(--navyblue);
  color: var(--white);
}
.button.primary {
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.description {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.what-we-do list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 300px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: url(<path-to-image>),
    lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}

.name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.position {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.footer {
  background-color: var(--navyblue);
  color: var(--white);
}
.studio-2 {
  color: var(--white);
}

.button-project {
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  list-style: none;
}
.button-project:hover,
.button-project:focus {
  color: var(--accent-color);
}
.project {
  text-decoration: none;
  color: var(--navyblue);
}
